<!-- wp:gatherpress/add-to-calendar -->
<div class="wp-block-gatherpress-add-to-calendar"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"bottom":"var:preset|spacing|30"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
	<div class="wp-block-group" style="margin-bottom:var(--wp--preset--spacing--30)"><!-- wp:gatherpress/icon {"icon":"calendar"} /-->

	<!-- wp:gatherpress/dropdown {"dropdownId":"dropdown-1305ed2a-a072-4bd4-8b28-d7ebf93030af","label":"Add to calendar","metadata":{"name":"Add to calendar"}} -->
	<div class="wp-block-gatherpress-dropdown"><a href="#" class="wp-block-gatherpress-dropdown__trigger">Add to calendar</a><div class="wp-block-gatherpress-dropdown__menu"><!-- wp:gatherpress/dropdown-item {"text":"\u003ca href=\u0022#gatherpress-google-calendar\u0022 rel=\u0022noreferrer noopener nofollow\u0022 target=\u0022_blank\u0022\u003eGoogle Calendar\u003c/a\u003e","metadata":{"name":"Google Calendar"}} -->
	<div class="wp-block-gatherpress-dropdown-item"><a href="#gatherpress-google-calendar" rel="noreferrer noopener nofollow" target="_blank">Google Calendar</a></div>
	<!-- /wp:gatherpress/dropdown-item -->

	<!-- wp:gatherpress/dropdown-item {"text":"\u003ca href=\u0022#gatherpress-ical-calendar\u0022 rel=\u0022noreferrer noopener nofollow\u0022\u003eiCal\u003c/a\u003e","metadata":{"name":"iCal"}} -->
	<div class="wp-block-gatherpress-dropdown-item"><a href="#gatherpress-ical-calendar" rel="noreferrer noopener nofollow">iCal</a></div>
	<!-- /wp:gatherpress/dropdown-item -->

	<!-- wp:gatherpress/dropdown-item {"text":"\u003ca href=\u0022#gatherpress-outlook-calendar\u0022 rel=\u0022noreferrer noopener nofollow\u0022\u003eOutlook\u003c/a\u003e","metadata":{"name":"Outlook"}} -->
	<div class="wp-block-gatherpress-dropdown-item"><a href="#gatherpress-outlook-calendar" rel="noreferrer noopener nofollow">Outlook</a></div>
	<!-- /wp:gatherpress/dropdown-item -->

	<!-- wp:gatherpress/dropdown-item {"text":"\u003ca href=\u0022#gatherpress-yahoo-calendar\u0022 rel=\u0022noreferrer noopener nofollow\u0022 target=\u0022_blank\u0022\u003eYahoo Calendar\u003c/a\u003e","metadata":{"name":"Yahoo Calendar"}} -->
	<div class="wp-block-gatherpress-dropdown-item"><a href="#gatherpress-yahoo-calendar" rel="noreferrer noopener nofollow" target="_blank">Yahoo Calendar</a></div>
	<!-- /wp:gatherpress/dropdown-item --></div></div>
	<!-- /wp:gatherpress/dropdown --></div>
	<!-- /wp:group --></div>
	<!-- /wp:gatherpress/add-to-calendar -->
