<!-- wp:query {"queryId":0,"query":{"perPage":{{PER_PAGE}},"pages":0,"offset":0,"postType":"gatherpress_event","order":"{{ORDER}}","orderBy":"datetime","author":"","search":"","exclude":[],"sticky":"","inherit":false,"gatherpress_event_query":"{{EVENT_QUERY_TYPE}}","include_unfinished":1},"namespace":"gatherpress-event-query","className":"gatherpress-event-query"} -->
<div class="wp-block-query gatherpress-event-query"><!-- wp:post-template {"metadata":{"name":"Events Template"},"style":{"spacing":{"blockGap":"var:preset|spacing|50"}}} -->
<!-- wp:media-text {"mediaPosition":"right","mediaType":"image","mediaWidth":40,"imageFill":false,"useFeaturedImage":true,"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|30"}}}} -->
<div class="wp-block-media-text has-media-on-the-right is-stacked-on-mobile" style="margin-bottom:var(--wp--preset--spacing--30);grid-template-columns:auto 40%"><div class="wp-block-media-text__content"><!-- wp:gatherpress/event-date {"displayType":"start","startDateFormat":"{{DATE_FORMAT}}","style":{"typography":{"textTransform":"uppercase"}},"fontSize":"medium"} /-->

<!-- wp:post-title {"isLink":true} /-->

<!-- wp:gatherpress/venue -->
<!-- wp:group {"className":"gatherpress\u002d\u002dhas-venue-address","style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group gatherpress--has-venue-address" style="margin-top:0;margin-bottom:0"><!-- wp:gatherpress/icon {"icon":"location"} /-->

<!-- wp:post-title {"isLink":true,"fontSize":"medium"} /--></div>
<!-- /wp:group -->
<!-- /wp:gatherpress/venue -->

<!-- wp:gatherpress/online-event -->
<div class="wp-block-gatherpress-online-event"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20","margin":{"top":"0","bottom":"0"}}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
<div class="wp-block-group" style="margin-top:0;margin-bottom:0"><!-- wp:gatherpress/icon {"icon":"video-alt2"} /-->

<!-- wp:gatherpress/online-event-link {"linkText":"\u003cspan class=\u0022gatherpress-tooltip\u0022 data-gatherpress-tooltip=\u0022Link available for attendees only.\u0022\u003eOnline event\u003c/span\u003e","fontSize":"medium"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:gatherpress/online-event --></div><figure class="wp-block-media-text__media"></figure></div>
<!-- /wp:media-text -->

<!-- wp:columns -->
<div class="wp-block-columns"><!-- wp:column {"width":"40%"} -->
<div class="wp-block-column" style="flex-basis:40%"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|20"}},"layout":{"type":"grid","minimumColumnWidth":"4rem","columnCount":null}} -->
<div class="wp-block-group"><!-- wp:gatherpress/rsvp-response {"rsvpLimitEnabled":true,"rsvpLimit":3} -->
<div class="wp-block-gatherpress-rsvp-response"><!-- wp:group {"className":"gatherpress\u002d\u002drsvp-responses","style":{"spacing":{"blockGap":"0"}},"layout":{"type":"grid","columnCount":3,"minimumColumnWidth":null}} -->
<div class="wp-block-group gatherpress--rsvp-responses"><!-- wp:gatherpress/rsvp-template -->
<!-- wp:avatar {"size":48} /-->
<!-- /wp:gatherpress/rsvp-template --></div>
<!-- /wp:group --></div>
<!-- /wp:gatherpress/rsvp-response --></div>
<!-- /wp:group -->

<!-- wp:gatherpress/rsvp-count /--></div>
<!-- /wp:column -->

<!-- wp:column {"width":"60%"} -->
<div class="wp-block-column" style="flex-basis:60%"><!-- wp:gatherpress/rsvp {"layout":{"type":"flex","justifyContent":"right","flexWrap":"wrap"}} -->
<div class="wp-block-gatherpress-rsvp"></div>
<!-- /wp:gatherpress/rsvp --></div>
<!-- /wp:column --></div>
<!-- /wp:columns -->
<!-- /wp:post-template -->

<!-- wp:query-no-results {"className":"gatherpress-query-no-results"} -->
<!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no events."} -->
<p></p>
<!-- /wp:paragraph -->
<!-- /wp:query-no-results --></div>
<!-- /wp:query -->
